.footer-container {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;

  .footer {
    padding: 10px;
    margin-top: 20px;
    background-color: color(primary);
    color: white;

    .title {
      font-family: 'Fjalla One', sans-serif;
      font-size: 30px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .category {
      padding-left: 20px;
    }
  }
}