@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  /*
  60% {
    opacity: 0;
  }
  */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  color: black; 
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

.title:hover {
  text-decoration: none;
  color: black;
}

.p-2.text-dark:hover {
  text-decoration: none;
}