@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  /*
  60% {
    opacity: 0;
  }
  */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.navbar-container {
  width: 100%;
  background-color: color(primary);
  color: white;
  text-align: center;
  height: 70px;
  z-index: 1;

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    left: 20px;
    margin-top: 15px;
  }

  .nav-items {
    display: none;
  }

  #button {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    margin-top: 10px;
  }
}

.navbar-container.responsive {
  .nav-items {
    z-index: 1;
    display: block;
    position: absolute;
    width: 100%;
    background-color: color(primary);
    margin-top: 70px;
    animation: 0.3s ease-out 0s 1 slideInFromTop;
    
    .nav-item {
      font-size: 20px;
      margin: 10px;
    }
  }
}