html, body {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.App {
  min-height: 100vh;
  margin-top: 50px;
  position: relative;
}

.content {
}

$colors: (
  primary: #242582,
  primary-light: lighten(#473198, 40%),
  primary-dark: darken(#473198, 40%),
  secondary: #2F2FA2,
  accent: #F64C72,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop {
  @media (min-width: 840px) {
    @content;
  }
}

@import './navbar';
@import './landing';
@import './footer';
@import './article';
@import './category';
@import './articles';